BLOCK RESETPATHS;
BLOCK ASYNCPATHS;

# Sets up clock + sets frequency
LOCATE COMP "clk" SITE "G2";
IOBUF  PORT "clk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk" 25 MHZ;

# Sets up reset button
LOCATE COMP "rst_n" SITE "D6";
IOBUF  PORT "rst_n" PULLMODE=UP IO_TYPE=LVCMOS33;

### Hint: Outputs look like the following 2 lines:
# LOCATE COMP "PORT_NAME" SITE "PIN_NUM";
# IOBUF  PORT "PORT_NAME" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# This is the top pin of 24
LOCATE COMP "uo_out[1]" SITE "C16";
IOBUF PORT "uo_out[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# This is the bottom pin of 24
LOCATE COMP "uo_out[0]" SITE "D16";
IOBUF PORT "uo_out[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# This is top pin of 23
LOCATE COMP "uo_out[3]" SITE "B17";
IOBUF PORT "uo_out[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# This is bottom pin of 23
LOCATE COMP "uo_out[2]" SITE "C17";
IOBUF PORT "uo_out[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# This is top pin 22
LOCATE COMP "uo_out[5]" SITE "B15";
IOBUF PORT "uo_out[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

#This is bottom pin 22
LOCATE COMP "uo_out[4]" SITE "C15";
IOBUF PORT "uo_out[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# This is bottom pin 21
LOCATE COMP "uo_out[6]" SITE "C18";
IOBUF PORT "uo_out[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

# This is top pin 21
LOCATE COMP "uo_out[7]" SITE "D17";
IOBUF PORT "uo_out[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_out[7]" SITE "D13";
IOBUF PORT "uio_out[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_out[6]" SITE "E13";
IOBUF PORT "uio_out[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_out[5]" SITE "B13";
IOBUF PORT "uio_out[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_out[4]" SITE "C13";
IOBUF PORT "uio_out[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_out[3]" SITE "D14";
IOBUF PORT "uio_out[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_out[2]" SITE "E14";
IOBUF PORT "uio_out[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_out[1]" SITE "D18";
IOBUF PORT "uio_out[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_out[0]" SITE "E17";
IOBUF PORT "uio_out[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_oe[0]" SITE "F17";
IOBUF PORT "uio_oe[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_oe[1]" SITE "G18";
IOBUF PORT "uio_oe[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_oe[2]" SITE "H18";
IOBUF PORT "uio_oe[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_oe[3]" SITE "H17";
IOBUF PORT "uio_oe[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_oe[4]" SITE "L16";
IOBUF PORT "uio_oe[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_oe[5]" SITE "L17";
IOBUF PORT "uio_oe[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_oe[6]" SITE "N16";
IOBUF PORT "uio_oe[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_oe[7]" SITE "M17";
IOBUF PORT "uio_oe[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_in[7]" SITE "N17";
IOBUF PORT "uio_in[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_in[6]" SITE "P16";
IOBUF PORT "uio_in[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_in[5]" SITE "U18";
IOBUF PORT "uio_in[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_in[4]" SITE "U17";
IOBUF PORT "uio_in[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_in[3]" SITE "A10";
IOBUF PORT "uio_in[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_in[2]" SITE "A11";
IOBUF PORT "uio_in[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_in[1]" SITE "A9";
IOBUF PORT "uio_in[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "uio_in[0]" SITE "B10";
IOBUF PORT "uio_in[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "ui_in[7]" SITE "B9";
IOBUF PORT "ui_in[7]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "ui_in[6]" SITE "C10";
IOBUF PORT "ui_in[6]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "ui_in[5]" SITE "A7";
IOBUF PORT "ui_in[5]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "ui_in[4]" SITE "A8";
IOBUF PORT "ui_in[4]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "ui_in[3]" SITE "C8";
IOBUF PORT "ui_in[3]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "ui_in[2]" SITE "B8";
IOBUF PORT "ui_in[2]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "ui_in[1]" SITE "C6";
IOBUF PORT "ui_in[1]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "ui_in[0]" SITE "C7";
IOBUF PORT "ui_in[0]" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "ena" SITE "A6";
IOBUF PORT "ena" PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

### Hint: Inputs look like the following 2 lines:
# LOCATE COMP "PORT_NAME" SITE "PIN_NUM";
# IOBUF  PORT "PORT_NAME" PULLMODE=DOWN IO_TYPE=LVCMOS33;

LOCATE COMP "ui_in[0]" SITE "R18";
IOBUF PORT "ui_in[0]" PULLMODE=DOWN IO_TYPE=LVCMOS33;